* {
    box-sizing: border-box;
    text-decoration: none;
    /* overflow: auto; */
    transition: all 0.3s ease;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    scroll-behavior: smooth;
}
